<div layout-fill layout="row" ng-controller="CharmBrowserCtrl as charmBrowserCtrl">
    <!-- Charm Info Panel -->
    <md-sidenav layout="column" class="md-sidenav-left" md-component-id="right" md-is-locked-open="true">
        <div layout="column" flex>
            <div layout="row">
                <md-button ng-click="charmBrowserCtrl.openLeftMenu()">
                    More Charms...
                </md-button>
                <md-button ng-click="charmBrowserCtrl.addCharm(charmBrowserCtrl.selectedCharm)">
                    Add Charm
                </md-button>
            </div>

            <span>Name: {{charmBrowserCtrl.selectedCharm.name}}</span>
            <span>Cost: {{charmBrowserCtrl.selectedCharm.cost}}</span>
            <span>Mins: {{charmBrowserCtrl.selectedCharm.ability}} {{charmBrowserCtrl.selectedCharm.ability_min}}, Essence {{charmBrowserCtrl.selectedCharm.essence_min}}</span>
            <span>Type: {{charmBrowserCtrl.selectedCharm.type}}</span>
            <span>Keywords: {{charmBrowserCtrl.selectedCharm.keywords}}</span>
            <span>Duration: {{charmBrowserCtrl.selectedCharm.duration}}</span>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex>
            <span ng-repeat="(charmId, charm) in charmBrowserCtrl.character.charms">{{charm.name}}</span>
        </div>
    </md-sidenav>

    <!-- Charm List -->
    <md-sidenav md-component-id="left" class="md-sidenav-left">
        <md-list>
            <md-list-item ng-repeat="abilityName in charmBrowserCtrl.character.AbilityEnum">
                <md-button ng-click="charmBrowserCtrl.loadCharmTree(abilityName)">{{abilityName}}</md-button>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <!-- Charm Graph -->
    <visnetwork layout-fill class="charmgraph" options="charmBrowserCtrl.network_options" ng-model="charmBrowserCtrl.charmTreeNetwork" on-select-node="charmBrowserCtrl.onSelectNode(selectParams)"></visnetwork>

</div>



