<!-- Header section -->
<div class="large-12 columns">
    <div class="row">

        <div class="large-4 columns">
            <div class="panel">
              <h5 ng-hide="isNewCharacter()">Experience</h5>
              <h5 ng-show="isNewCharacter()">Bonus Points</h5>
              <div class="row collapse">
                <div class="large-3 large-offset-6 columns">
                  <span class="boxed">Spent</span>
                </div>
                <div class="large-3 columns">
                  <span class="postfix">Total</span>
                </div>
              </div>
              <div class="row collapse" ng-hide="isNewCharacter()">
                <div class="large-6 columns">
                  <span class="label boxed">XP</span>
                </div>
                <div class="large-3 columns"><span class="textbox-center">{{character.spentXP}}</span></div>
                <div class="large-3 columns"><input type="number" id="totalXPInput" placeholder="{{character.totalXP}}"></div>
              </div>
              <div class="row collapse" ng-hide="isNewCharacter()">
                <div class="large-6 columns">
                  <span class="label boxed">Solar XP</span>
                </div>
                <div class="large-3 columns"><span class="textbox-center">{{character.spentSolarXP}}</span></div>
                <div class="large-3 columns"><input type="number" id="totalXPInput" placeholder="{{character.totalSolarXP}}"></div>
              </div>
              <div class="row collapse" ng-show="isNewCharacter()">
                <div class="large-6 columns">
                  <span class="label boxed">Bonus Points</span>
                </div>
                <div class="large-3 columns"><span class="textbox-center">{{spentBonusPoints}}</span></div>
                <div class="large-3 columns"><input type="number" id="totalXPInput" placeholder="{{totalBonusPoints}}"></div>
              </div>
            </div>
        </div>
        <div class="large-4 columns">
          <div class="panel">
            <h5>Character</h5>
            <div class="row collapse prefix-radius">
              <div class="large-4 columns">
                <span class="prefix">Name</span>
              </div>
              <div class="large-8 columns">
                <input type="text" ng-model="character.name">
              </div>
            </div>
            <div class="row collapse prefix-radius">
              <div class="large-4 columns">
                <span class="prefix">Player</span>
              </div>
              <div class="large-8 columns">
                <input type="text" ng-model="character.playerName">
              </div>
            </div>
            <label>Caste
              <select ng-model="character.caste" ng-options="casteName for casteName in casteList"></select>
            </label>
          </div>
        </div>
        <div class="large-4 columns">
            <div class="panel">
                <h5>Concept & Anima</h5>
                <label>Concept
                  <input type="text" ng-model="character.concept" placeholder="{{conceptPlaceholder}}">
                </label>
                <label>Anima
                  <input type="text" ng-model="character.anima" placeholder="{{animaPlaceholder}}">
                </label>
            </div>
        </div>

    </div>

    <!-- Attributes section -->
    <div class="row">

        <div class="large-12 columns">
            <div class="panel">
                <h5>Attributes</h5>
                <p>Attributes panel content goes here.</p>
                <dots ng-model="character.strength"></dots>
<!--
              <svg>
  <defs>
    <radialGradient id="myGradient"
      cx="50%" cy="50%" r="50%" fx="50%" fy="80%">
      <stop offset="0%" stop-color="#fff" stop-opacity="1" />
      <stop offset="100%" stop-color="#000" stop-opacity="1" />
    </radialGradient>
  </defs>
  <circle cx="50" cy="50" r="50" fill="url(#myGradient)" />
</svg>
-->
              
            </div>
        </div>

    </div>

    <!-- Abilities, Merits, etc. -->
    <div class="row">

        <div class="large-4 columns">
            <div class="panel">
                <h5>Abilities</h5>
                <p>Abilities panel contents here.</p>
            </div>
        </div>

        <div class="large-8 columns">
            <div class="row">

                <div class="large-12 columns">
                    <div class="panel">
                        <h5>Merits</h5>
                        <p>Merits panel contents here.</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Willpower</h5>
                        <p>Willpower panel contents here.</p>
                    </div>
                </div>

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Limit Break</h5>
                        <p>Limit Break panel contents here.</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Essence</h5>
                        <p>Essence panel contents here.</p>
                    </div>
                </div>

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Limit Trigger</h5>
                        <p>Limit Trigger panel contents here.</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Experience</h5>
                        <p>Experience panel contents here.</p>
                    </div>
                </div>

                <div class="large-6 columns">
                    <div class="panel">
                        <h5>Solar Experience</h5>
                        <p>Solar Experience panel contents here.</p>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-12 columns">
                    <div class="panel">
                        <h5>Weapons</h5>
                        <p>Weapons panel contents here.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                <h5>Health & Defense</h5>
                <p>Health & Defense panel contents here</p>
            </div>
        </div>
    </div>
</div>
