.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}
.fullHeight {
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
    max-height: initial;
}
.charmgraph {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}
.boxed {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    display: block;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.textbox-center {
    display: block;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
    overflow: visible;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
}
.dot {
    margin-left: 2px;
    margin-right: 2px;
}